.console-container {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
	background-color: black;
}

.console {
	width: 100%;
  max-width: 1000px;
  min-width: 480px;

	padding: 10px;
	box-sizing: border-box;

	font-family: Consolas, monospace;
  color: white;
}

.console-input {
	position: absolute;
	opacity: 0;
}

.cursor-wrapper {
    color:rgb(235, 235, 235);
    background-color: black;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(235, 235, 235);
}

.cursor-wrapper.active {
    border-style: none;
}

.cursor-wrapper.blink {
    animation: cursor-animation 1s step-start 0s infinite;
    -webkit-animation: cursor-animation 1s step-start 0s infinite;
}

@keyframes cursor-animation {
  50% {
    color: black;
    background-color: rgb(235, 235, 235);
  }
}
@-webkit-keyframes cursor-animation {
  50% {
    color: black;
    background-color: rgb(235, 235, 235);
  }
}

.color-primary {
  color: #218fca;
}

.color-primary-light-1 {
  color: #61a8ce;
}

.color-primary-light-2 {
  color: #dce3e6;
}

.color-primary-dark-1 {
  color: #046aa1;
}

.color-primary-dark-2 {
  color: #01476c;
}

.color-complementary {
  color: #ff981d;
}

.console .info {
  color: #606060;
}

.console a {
  text-decoration: underline;
  font-weight: bold;
  color: #ff981d;
}

.console a:hover {
  cursor: pointer;
}

.console em {
  color: #dce3e6
}

.console img {
  width: 500px;
}

.console h1 {
  font-size: 16px;
  text-decoration: underline;
  font-weight: bold;
  color: #61a8ce;
}

.console h2 {
  font-size: 16px;
  font-weight: bold;
  color: #61a8ce;
}

.console h3 {
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  color: #61a8ce;
}
