.aboutContainer {
  display: table;
  margin-bottom: 25px;
}

.aboutContainer img {
  height: 286px;
  display: table-cell;
  margin-right: 20px;
}

.aboutText {
  display: table-cell;
  width: auto;
  vertical-align: top;
}

.aboutText h2 {
  margin-top: 7px;
}

.aboutText p {
  text-align: justify;
  font-style: italic;
}

.featuredProjectContainer h2 {
  margin-bottom: 14px;
}