.homepageContainer {
  width: 100%;
}

.mainContentContainer {
  display: table-cell;
  padding: 20px;
}

.aboutContainer {
  display: table;
  width: 700px;
}

.aboutContainer img {
  height: 300px;
  display: table-cell;
  margin-right: 20px;
}

.aboutText {
  display: table-cell;
  width: auto;
  vertical-align: middle;
}

.aboutText p {
  text-align: justify;
  font-style: italic;
}

.sideContentContainer {
  display: table-cell;
  width: 200px;
  vertical-align: top;
  position: relative;
  padding: 20px;
}

.sideContentContainer:after {
  content: "";
  background: black;
  position: absolute;
  top: 50px;
  left: 0;
  height: 80%;
  width: 1px;
}

.projectsContainer {

}