.container {
  padding: 8px;
}

.container img {
  max-width: 100%;
}

.container p {
  margin: 0;
  margin-top: 2px;
  text-align: justify;
  font-style: italic;
}

.container h3 {
  margin: 10px 0;
}